<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/cart.css' />
  </head>
  <body>
  <!--引入公用头部-->
    <% include public/header.ejs %>


    <ul class="cart-list" id="list">
      <!--模板引擎-->
      <% for(var i=0;i<cartData.length;i++){%>
      <li >
        <img src="<%= cartData[i].imgurl %>" alt="">
        <p><%= cartData[i].pname %></p>
        <p>单价：￥<%= cartData[i].price %></p>
        <p>数量：<%= cartData[i].number %></p>
      </li>
      <% }%>

    </ul>

  </body>
</html>
