<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <!--引入公用头部-->
    <% include public/header.ejs %>

    <% if(isLogin){%>
      <p>Welcome  <%= username %> to 1709</p>
    <%}else {%>
      <div><a href="/login">去登录</a>,或者 <a href="/reg">注册</a></div>
    <%}%>
    <!--oocss-->
    <p class="ovfl pad-10">
      <a class="fr" href="/cart">购物车</a>
    </p>

    <p><%- htmlstr %></p>
    <ul class="product-list" id="list">
      <!--模板引擎-->
      <% for(var i=0;i<proListData.length;i++){%>
      <li >
        <img src="<%= proListData[i].imgurl %>" alt="">
        <p><%= proListData[i].pname %></p>
        <!--<button data-id="<%= proListData[i].pid%>">添加到购物车</button>-->

        <button onclick="fnAdd(<%= proListData[i].pid%>)">添加到购物车</button>
      </li>
      <% }%>

    </ul>
    <!--服务器端渲染  => （模板引擎） -->

    <script>
    function fnAdd(pid) {
        fetch("/cart/add?pid="+pid,{
                   credentials: 'include' //携带cookie
         }).then(res=>res.json()).then(data=>{
             console.log(data)
         })
    }

//       var oList = document.getElementById("list")
//       oList.onclick=function (e) {
//           e = e||window.event
//           var ele = e.target
//           console.log(ele.tagName)
//
//           if(ele.tagName.toUpperCase()==="BUTTON"){
//               console.log(ele.getAttribute("data-id"))
//               var pid = ele.getAttribute("data-id")
//               console.log("添加到购物车了")
//               //提交 添加到购物车的请求
//               fetch("/cart/add?pid="+pid,{
//                   credentials: 'include' //携带cookie
//               }).then(res=>res.json()).then(data=>{
//                   console.log(data)
//               })
//           }
//       }


    </script>
  </body>
</html>
